@use "../styles/colors" as *;
@use "../mixins/background-mixin" as *;

.blogrHeader{
    background-color: $mobile-dark-red;
    height: 100vh;
    display: block;
    @include bgImage('/images/bg-pattern-intro.svg');
    
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    .toggleBtn{
        border:none;
        outline: none;
        background-color: transparent;
    }
}