@use "../styles/colors" as *;
@use "../mixins/background-mixin" as *;
@use "../styles/font" as *;
@use "../components/headerMenu";

.blogrHeader {
  background-color: $cta-hover-bckground;
  height: 80vh;
  display: flex;
  flex-direction: column;
  @include bgImage("/images/bg-pattern-intro.svg");
  background-position: 35%;
  background-size: 100rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .toggleBtn {
    border: none;
    outline: none;
    background-color: transparent;
  }
  padding: 2rem;
}


