@use "../styles/colors" as *;
@use "../styles/font" as *;

.headerMenu {
  display: none;
  align-self: center;
  width: 85%;
  height: 60%;
  background-color: $white-text-color;
  border-radius: 2%;
  top: 10%;
  position: absolute;
  .menuTab {
    .tabName {
      display: grid;
      margin: 1rem;
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;

      .menuBtn {
        border: none;
        background-color: transparent;
        font-family: $overpass-font;
        font-size: large;
        font-weight: 900;
        color: $dark-grey-blue;
      }
    }

    .tabLinks {
      display: none;
    }
  }
}
.displayMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.displayLinks {
  display: block;
}
