//Primary colors
$cta-Text: hsl(356, 100%, 66%);
$cta-hover-bckground: hsl(355, 100%, 74%);
$headings-color: hsl(208, 49%, 24%);

//Neutral colors
$white-text-color: hsl(0, 0%, 100%);
$footer-text-color: hsl(240, 2%, 79%);
$body-copy-color: hsl(207, 13%, 34%);
$footer-bckground-color: hsl(240, 10%, 16%);

//Gradient colors for Background
$mobile-light-red: hsl(13, 100%, 72%);
$mobile-dark-red: hsl(353, 100%, 62%);

$dark-grey-blue: hsl(237, 17%, 21%);
$dark-desaturated-blue: hsl(237, 23%, 32%);

//Body copy
$body-font-size: 16px;